salut <%= @user.email %>

<div class="card-columns">

<% @user.admin_events.each do |event| %>
  <div class="card mb-2">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <medium ><%= event.title %></medium>
        <a href="<%= event_path(event.id) %>" class="btn btn-sm btn-outline-secondary">Voir</a>
      </div>
    </div>
  </div>
<% end %>
